<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2" android:versionName="1.1"
          package="com.example.RealWordAndBigAdventure_Beta">
    <uses-sdk android:minSdkVersion="14"/>
    <application android:icon="@drawable/zxhdmxlogo" android:label="@string/app_name"
                 android:name="com.orm.SugarApp"
            >
        <activity android:name=".Screen.FlashActivity" android:theme="@style/Anim_style2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:name="MyActivity">
        </activity>
        <activity android:name=".RealWordActivity"/>
        <activity android:name=".BigAdventureActivity"/>
        <activity android:name=".Screen.GuideActivity"/>
        <activity android:name=".Screen.DoorOpenActivity"/>
        <activity android:name=".AddActivity" android:theme="@android:style/Theme.Holo.Light" android:label="自定义惩罚"/>

        <!--Umeng Service Setting-->
        <service android:name="com.umeng.update.net.DownloadingService" android:process=":DownloadingService">
        </service>
        <activity android:name="com.umeng.update.UpdateDialogActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <activity android:configChanges="orientation|keyboard" android:launchMode="singleTask"
                  android:name="com.umeng.socialize.view.ShareActivity" android:noHistory="true"
                  android:theme="@style/Theme.UMDialog" android:windowSoftInputMode="stateVisible|adjustResize"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true"
                  android:name=".wxapi.WXEntryActivity" android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="orientation|navigation|keyboardHidden"
                  android:name="com.renn.rennsdk.oauth.OAuthActivity"/>
        <activity android:configChanges="orientation|keyboard" android:launchMode="singleTask"
                  android:name="com.tencent.tauth.AuthActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="1103265655"/>
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.connect.common.AssistActivity" android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <!--Feed Back-->
        <activity android:name="com.umeng.fb.ConversationActivity"
                  android:theme="@android:style/Theme.NoTitleBar"/>
        <activity android:name="com.umeng.fb.ContactActivity"
                  android:theme="@android:style/Theme.NoTitleBar"/>

        <!--Umeng Service-->
        <meta-data android:name="UMENG_APPKEY" android:value="529dbdb756240b93f10337dc"/>
        <meta-data android:name="UMENG_CHANNEL" android:value="Channel ID"/>
        <!--Ad Service-->
        <meta-data android:name="APP_ID" android:value="da372f4bbc6dae4961b22f5f54f94348"/>
        <meta-data android:name="APP_PID" android:value="default"/>
        <!--Sugar DB-->
        <meta-data android:name="DATABASE" android:value="realword_bigadventure.db" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.example" />
    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
</manifest>
